@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #D2E9E9;
    font-family: 'Poppins', sans-serif;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(241, 246, 249, 0.8)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler{
    border-color: rgba(241, 246, 249, 0.8);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}



#site-logo {
    transition: all 0.2s;
    user-select: auto;
    width: 20%;
}



#site-logo:hover {
    user-select: all;
    transform: scale(1.1);
    transition: all 0.2s;
}

.navbar-container {
    background-color: #14274E;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.2s;
}

#navbar-ul {
    transition: all 0.2s;
}

.dropdown-menu {
    background-color: #14274E;
}

.dropdown-menu>li>a {
    color: rgba(241, 246, 249, 0.8);
    transition: all 0.2s;
}

.dropdown-menu>li>a:hover {
    color: rgb(241, 246, 249);
    transition: all 0.2s;
    background-color: #394867;
}

#navbar-ul>li {
    position: relative !important;
    padding: 10px;
    transition: all 0.2s;

    a {
        text-decoration: none;
        color: rgba(241, 246, 249, 0.8);
        font-size: 1.1rem;
    }

}

#navbar-ul>li:hover,
#navbar-ul>li:focus {
    padding-bottom: 0;
    transition: all 0.2s;

}

#navbar-ul>li::after {
    content: "";
    height: 4px;
    border-radius: 5px 5px 5px 5px;
    width: 85%;
    background-color: #91C8E4;
    position: absolute;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

#navbar-ul>li:hover::after,
#navbar-ul>li:focus::after {
    opacity: 1;
    transition: all 0.2s;
}

#navbar-ul>li:hover>a {
    color: rgb(241, 246, 249);
    transition: all 0.2s;
}


input[type="text"],
input[type="tel"],
input[type="time"],
input[type="date"],
select {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #93B1A6;
    transition: all 0.2s;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #5C8374 !important;
    box-shadow: inset 0 0 0 1px #5C8374 !important;
    transition: all 0.2s !important;
}


.search-button {
    background-color: #93B1A6;
    border-color: #93B1A6;
}

.search-button:hover {
    background-color: #5C8374;
    border-color: #5C8374;
}

.search-button:active {
    background-color: #3E5A4F !important;
    border-color: #3E5A4F !important;
}

.sube-resim {
    position: relative;
    height: 250px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    border: 4px solid white;
    overflow: hidden;
    cursor: pointer;
}

.sube-resim::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease;
}

.sube-resim:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.sube-resim>h3 {
    position: relative;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    z-index: 1;
}


.price {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 0 !important;
    background-color: #93B1A6;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    cursor: default;
    text-align: center;
    align-content: center;
}

.footer-part {
    background-color: #14274E;
    color: white;
    text-align: center;

    a {
        color: white !important;
        text-decoration: none ;
    }
}